---
- name: secure sshd
  copy:
    src: roles/common/files/sshd_config
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0600
  notify: restart sshd

- name: add podman repo on Debian hosts
  when: ansible_distribution == "Debian"
  block:
    - name: add podman repo key
      apt_key:
        url: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10/Release.key
        state: present

    - name: add podman repo
      copy:
        content: "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10/ /"
        dest: /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list

    - name: update repo cache
      apt:
        update_cache: yes

- name: install tuned
  package:
    name: tuned
    state: latest
  notify: restart tuned

- name: enable services
  service:
    name: "{{ item }}"
    enabled: yes
  loop:
    - tuned

- name: install cockpit-pcp
  package:
    name: cockpit-pcp
    state: latest
  notify: restart pmlogger
